{% load staticfiles %}
<!-- Bootstrap -->
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}" type="text/css"/>
<!-- styles -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"/>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->