{% load staticfiles %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{#<script src="https://code.jquery.com/jquery.js"></script>#}
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript' src='{% static 'js/jquery.dataTables.min.js' %}'></script>
<script type='text/javascript' src='{% static 'js/dataTables.bootstrap.js' %}'></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type='text/javascript' src='{% static 'js/custom.js' %}'></script>
<script type='text/javascript' src='{% static 'js/tables.js' %}'></script>
{#<script type='text/javascript' src='{% static 'js/stats.js' %}'></script>#}